@charset "UTF-8";


body {
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    height: 100%;
}

.section{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.section.sec1 {
    padding-top: 88px;
    position: relative;
    background-color: pink;
    height: 100vh;
}

.section.sec2 {
    background-color: saddlebrown;
    height: 100vh;
}

.section.sec3 {
    background-color: sandybrown;
    height: 100vh;
}

.section.sec4 {
    background-color: rosybrown;
    height: 100vh;
}

.section.sec1 .grid-wrap{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;


}

.section.sec1 .grid-wrap .item{
    border: 1px solid purple;

}

.section.sec1 .grid-wrap .item:first-child{

}
